<div class="park-meetups-body">

    <video autoplay loop playsinline muted id="dog-video">
        <source src="https://storage.coverr.co/videos/DoHw2qlCgfBI5s9LHu9H4F1himwZHUMo?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjEzOTMyNTM2fQ.MMXJZQlXKWA7oKIr_m-AZxWTiUEPtHQUDv8z6HZ9sDI" type="video/mp4">
    </video>

    <div>
        <section id="intro">
        <div class="container">
            <header>
                <h1>Park Meetups</h1>
            </header>
            <div class="row">
                <div class="col-md-6">
                    <img class="beside-text-photo" src="https://cdn.pixabay.com/photo/2019/07/23/13/51/schafer-dog-4357790_960_720.jpg" alt="Dogs running">
                </div>
                <div class="col-md-6">
                    <h5><strong>Park Meetups </strong>is an app that allows you to coordinate your dog's park visits with his or her best friends. One of the most important parts of 
                        raising well behaved dogs is <a href="https://www.dogtopia.com/blog/dog-socialization-benefits/" aria-label="Read more about dog socializing">socializing</a>. 
                        You can check-in in real time as you arrive at the park or simply mark it on the calender when and where you and your furry friend will be. 
                    
                    </h5>
                </div>
            </div>
        </div>
        </section>
        <section id="description">
            <div class="container">
                <h1>For those without phones... or thumbs</h1>
                <div class="row">
                    <div class="col-md-6">
                        <h5><strong>Fur children </strong>lack the resources and capabilities of setting their own schedule to hang out with their friends. 
                        Thats where you come in. Keep track of when your last vet vist was or what time to administer medicine. This amazing dog fact might answer a long-standing question that dog owners have. 
                        Why are dogs noses wet? Vetstreet says that the answer is that dog’s noses are wet to help them absorb scent chemicals! 
                        Their nose secretes a special mucus that helps to absorb these chemicals, and then they lick their noses to sample them, helping them understand what the smell is.
                        <a href="https://www.purina.co.uk/dogs/behaviour-and-training/understanding-dog-behaviours/amazing-dog-facts" aria-label="Learn More Dog Facts">Dog Fact Credit</a>
                    </h5>
                    </div>
                    <div class="col-md-6">
                        <img class="beside-text-photo" src="https://cdn.pixabay.com/photo/2021/01/30/03/33/video-call-5962733_960_720.jpg"  alt="Dog with cellphone">
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div>
        <section id="potential-apps">
            <div class="container">
                <h1>Special Events</h1>
                <div class="row">
                    <div class="col-md-6">
                        <img class="beside-text-photo" src="https://cdn.pixabay.com/photo/2015/12/13/07/31/new-years-day-1090770_960_720.jpg" alt="Dogs at birthday party">
                    </div>
                    <div class="col-md-6">
                        <h5><strong>Parties </strong>are another area where the app shines. Any time you feel like overspending on a dog cake that probably doesn't taste
                        any different than regular dog food, just pop the time and location in and watch the neighborhood dogs pour in. Cats beware, this is an all dogs party. </h5>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <app-map></app-map>

    <app-footer></app-footer>
</div>