<div class="navbar" aria-label="menu">
    <nav>
        <ul>
            <li><a [routerLink]="['home']"><i class="fas fa-paw"></i> Home</a></li>
            <li><a href="#intro">Intro</a></li>
            <li><a href="/#description" aria-label="description">Description</a></li>
            <li><a href="/#potential-apps" aria-label="potential apps">Potential Apps</a></li>
            <li><a [routerLink]="['park-meetups-desc']" aria-label="park meetups page">Park Meetups</a></li>
        </ul>
    </nav>
</div>