
.navbar li {
    float: left;
    display: inline;
    border-right: 1px rgb(105,105,105) solid;
}

.navbar li:hover {
    background: rgb(6, 77, 0, .8);
}

.navbar {
    list-style-type: none;
    top: 0;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51,51,51);
    z-index: 1;
}

.navbar a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
}